{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show the details</title>
    <link rel="stylesheet" href="{% static '/css/showlist.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>  
<body>
    <p class="para text-center">Student List for <span style="color: red;"> {{ user.username | upper }} </span> </p>
    <table class="table table-striped">
        
        <tbody id="tbody">
            <tr>
                <th>Name</th>
                <th>Parent</th>
                <th>District</th>
                {% if user.is_authenticated %}
                <th>Course</th>
                <th>Address</th>
                <th>Contact No</th>
                <th>Update</th>
                <th>Delete</th>
                {% endif %}
            </tr>
            {% if mem %}
            {% for i in mem %}
            <tr>
                <td> {{ i.name }} </td>
                <td> {{ i.parent }} </td>
                <td> {{ i.district }} </td>

                {% if user.is_authenticated %}

                <td> {{ i.course }} </td>
                <td> {{ i.adrs }} </td>
                <td> {{ i.tel }} </td>
                <td>
                    <form action=" {% url 'update' i.id %} " method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-success" value="Update">
                    </form>
                </td>
                <td>
                    <form action=" {% url 'deletedata' i.id %} " method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Deletedata" class="btn btn-outline-danger" onclick="alert ('Are you Sure to Delete..?!!') ">
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}
